* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,400&display=swap');
// ------PALETA DE COLORES-----
$backgroundColor:#161616;
$backgroundColorAbout:#311818;
$backgroundColorProductos:#470202;
$ligthColor:#FFFFFF;
$navColor:#9b4040;

// ------FIN PALETA DE COLORES-----

// -----FUENTES------
$font1: 'EB Garamond',
serif;
$font2: 'EB Garamond',
italic;
$fontTittle:'Freehand',
cursive;

// -----FIN FUENTES-----
body {
    background-color: $backgroundColor;
    margin-top: 7vh;
    background-image: url(../images/dotBackground.svg);
    padding: 0 0.5rem;

}

.salto {
    display: none;
}

.offcanvas-top {
    height: 50vh;
}

.offcanvas-backdrop {
    width: 113vw;
    height: 114vh;
}

p {
    font-family: $font2;
}

.navbar-brand {
    font-family: $fontTittle;
    font-size: 32px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: $backgroundColor !important;
    background-image: url(../images/dotBackground.svg);
}

.offcanvas-header,
.offcanvas-body {
    background-image: url(../images/dotBackground.svg);
    background-color: $navColor;
}

.lineFondo {
    position: absolute;
    z-index: -10;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../images/lineBackground.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.elipseNavBar {
    @extend.lineFondo;
    background-image: radial-gradient(at 200px 200px, #B1402A 10%, #161616 100%);
    z-index: -11;
    width: 236px;
    height: 30px;
    left: 1%;
    filter: blur(28px);
    position: absolute;

}

.elipse {
    @extend .lineFondo;
    background-image: radial-gradient(at 200px 200px, #B1402A 10%, #161616 100%);
    z-index: -11;
    width: 128px;
    height: 155px;
    filter: blur(28px);
    background-size: cover;
    border-radius: 50%;
    left: 65%;
    top: 8%;

}

.star {
    @extend .lineFondo;
    background-image: url(../images/star.svg);
    height: 80px;
    width: 89px;
    left: 74%;
    top: 12%;

}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 6fr;
    padding: 0;
    height: 100vh;
}

.mainTittle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: $font1;
    color: $ligthColor;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    padding-left: 10px;
    text-shadow: $navColor 8px 7px 20px;
}

h1 {
    font-size: 44px;
    padding-top: 54px;
}

.mainSubtittle {
    display: flex;
    font-family: $font2;
    color: $ligthColor;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.06em;
    justify-content: center;
    text-shadow: $navColor 8px 7px 20px;
    padding-left: 15px;
}

.buton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 28px 56px;
    width: 197px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 0px 20px;
    align-items: center;
    font-family: $font1;
    margin-bottom: 75px;
    border: none;
    margin-left: 70px;
    color: $backgroundColor;
    font-family: $font1;
}

.homePicture {
    width: 95%;
    height: auto;
    background: url(../images/strawberry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 294.5px 20px 20px 20px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.buton:hover {
    background-color: $navColor;
}

.about {
    width: 100%;
    height: 100vh;
    background-color: $backgroundColorAbout;
    background-image: url(../images/dotBackground.svg);
    border-radius: 4rem 4rem 4rem 4rem;
    margin-top: 20px;
}

.logoSimple {
    width: 265px;
    height: 20%;
    background-image: url(../images/logo-simple.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.contenedorAbout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.contenedorAbout figure {
    position: relative;
    height: 60%;
    width: 90%;
    overflow: hidden;
    border-radius: 4rem;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.contenedorAbout figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedorAbout figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.897);
    background-image: url(../images/dotBackground.svg);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4rem 4rem 4rem 4rem;
}

.contenedorAbout figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedorAbout figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedorAbout figure .capa h3 {
    color: $navColor;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    font-family: $fontTittle;
    font-size: 50px;
    text-shadow: 2px 2px 2px $backgroundColor;

}

.contenedorAbout figure .capa p {
    color: $backgroundColorAbout;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: auto;
    margin: auto;
    font-family: $font2;

}

.contenedorAbout figure:hover>img {
    transform: scale(1.3);
}

.productos {
    background-image: url(../images/dotBackground.svg);
    border-radius: 4rem 4rem 4rem 4rem;
    margin-top: 20px;
    background-color: $backgroundColorProductos;
    margin-top: 20px;
}

.tittleProductos {
    font-family: $fontTittle;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $ligthColor;
}

.contenedorProductos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
    flex-direction: column;
}

.contenedorProductos figure {
    position: relative;
    height: 60%;
    width: 90%;
    overflow: hidden;
    border-radius: 4rem;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.contenedorProductos figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedorProductos figure .capaProductos {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.897);
    background-image: url(../images/dotBackground.svg);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4rem 4rem 4rem 4rem;
}

.contenedorProductos figure:hover>.capaProductos {
    opacity: 1;
    visibility: visible;
}

.contenedorProductos figure:hover>.capaProductos h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedorProductos figure .capaProductos h3 {
    color: $navColor;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    font-family: $fontTittle;
    font-size: 50px;
    text-shadow: 2px 2px 2px $backgroundColor;

}

.contenedor figure .capaProductos p {
    color: $ligthColor;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: auto;
    margin: auto;

}

.contenedorProductos figure:hover>img {
    transform: scale(1.3);
}


.cubiertasChocolate {
    width: 100%;
    height: 450px;
    padding: 15px;
}

.gridProductos {
    overflow: scroll;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.borderProductos {
    border-radius: 25px;
    border: 2px outset $navColor;
    padding: 2px;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    font-size: 3em;
    color: $ligthColor;
    font-family: $fontTittle;
}

.logo span {
    color: $navColor;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    border-radius: 25px;
    background: #6400007a;
    background-image: url(../images/dotBackground.svg);
}

.contact-wrapper>* {
    padding: 1em;
}

.contact-form {
    background-color: #2222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1/3;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #d63031;
    color: $ligthColor;
}

.contact-form form button {
    background: $navColor;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form p {
    color: $ligthColor;
    font-family: $font2;
}

.contact-form h3 {
    color: $ligthColor;
    font-family: $fontTittle;
    font-size: 3rem;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: black;
    color: $navColor;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info {
    background-color: #000;
    border-radius: 0 0 25px 25px;
}

.contact-info h4,
.contact-info ul,
.contact-info a,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: $ligthColor;
    text-decoration: none;
}

.contact-info ul {
    padding: 0;
    list-style: none;
}

.portfolio {
    display: flex;
    text-decoration: none;
    color: #B1402A;
    justify-content: center;
}

.portfolio:hover {
    color: black;
}

.contact-info ul li {
    padding: .3em;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    body {
        padding: 0 2rem;
        overflow-x: hidden;
    }

    .homePicture {
        width: 80%;
    }

    .salto {
        display: inline;
    }

    .buton {
        margin-left: 35%;
    }

    .gridProductos {
        overflow: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 50px;
    }

    .gridProductos {
        overflow-x: hidden;
    }
    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info{
        border-radius: 0 25px 25px 0;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .grid {
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .homePicture {
        grid-column: 1/2;
        grid-row: 1/5;
        width: 100%;
        margin-top: 25%;
    }

    h1,
    .mainTittle {
        grid-column: 2/3;
        font-size: 72px;
        grid-row: 2/3;
        padding-left: 20px;
    }

    .navbar-expand-lg .navbar-nav {
        padding-left: 18rem;
    }

    .mainSubtittle {
        grid-template-columns: 2/3;
        grid-row: 3/4;
        font-size: 22px;
        padding-top: 25px;
        padding-left: 32px;
    }

    .buton {
        grid-row: 4/5;
        width: 217px;
        font-size: 20px;
    }

    .lineFondo {
        background-image: url(../images/lineBackgroundDesktop.svg);
        background-position-x: 70px;

    }

    .elipse {
        @extend .lineFondo;
        background-image: radial-gradient(at 200px 200px, #B1402A 10%, #161616 100%);
        width: 168px;
        height: 175px;
        filter: blur(28px);
        left: 70%;
        top: 35%;
        background-position-x: center;
        background-position-y: center
    }

    .star {
        @extend .lineFondo;
        background-image: url(../images/star.svg);
        height: 120px;
        width: 120px;
        left: 75%;
        top: 30%;
        background-position-x: center;
        background-position-y: center
    }

    .offcanvas-body {
        background-color: transparent;
    }

    .contenedorAbout {
        flex-direction: row;
        padding-left: 30px;
        padding-right: 30px;
    }

    .logoSimple {
        width: 400px;
    }

    .contenedorAbout figure .capa h3 {
        font-size: 60px;
    }

    .capaTexto {
        font-size: 18px;
    }

    .contenedorProductos {
        padding-left: 75px;
        padding-right: 75px !important;
    }

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .elipse {
        left: 70%;
        top: 35%;
    }

    .nav-item {
        font-size: 16px;
    }

    .star {
        height: 120px;
        width: 120px;
        left: 75%;
        top: 35%;
    }

    .contenedorAbout {
        padding-left: 73px;
        padding-right: 83px !important;
    }

    .logoSimple {
        margin-right: 100px;
        background-image: url(../images/logo.png);
        background-size: cover;
        height: 451px;
        width: 848px;
    }

    .contenedorProductos figure .capa h3 {
        font-size: 70px;
    }

    .capaTexto {
        font-size: 22px;
    }

    .tittleProductos {
        font-size: 100px;
    }

    .contenedorProductos {
        padding-left: 150px;
        padding-right: 150px !important;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .grid {
        display: grid;
        grid-template-columns: 1.5fr 4fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .elipse {
        left: 75%;
        top: 25%;
    }

    .nav-item {
        font-size: 18px;
    }

    .star {
        height: 160px;
        width: 160px;
        left: 75%;
        top: 30%;
    }

    h1 {
        font-size: 110px;
    }

    .mainSubtittle {
        font-size: 34px;
    }

    .buton {
        width: 300px;
        display: flex;
        font-size: 34px;
    }

    .logoSimple {
        height: 573px;
        width: 991px;
    }

    .contenedorAbout figure .capa h3 {
        font-size: 70px;
    }

    .capaTexto {
        font-size: 22px;
    }

    .contenedorProductos {
        padding-left: 300px;
        padding-right: 300px !important;
    }
}